body {
    color: #282F37;
    margin: 0;
}
.header {
    margin-top: 5px;
    height: 80px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: calc(50vh - 40px);
}

.header.top {
    top:0;
    transition: 0.3s;
    margin-bottom: 30px;
}

.header .title {
    font-size: 35px;
    margin-bottom: 5px;
}

input[type=text] {
    width: 200px;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.header .search-button {
    display: inline-block;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 100px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}

.header .search-button:hover {
    background-color: #eaeaed;
    cursor: pointer;
}

.content {
    height: calc(100vh - 80px);
    display: flex;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 80px;
}
.content .left {
    flex-basis: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

.content .left .list-title {
    font-size: 25px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.content .left #list {
    max-height: calc(100vh - 180px);
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
}

.content .left #list .not-found {
    font-size: 30px;
    text-align: center;
}

.content .left #list .station-card {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}

.content .left #list .transfer-card {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
    opacity: 0.75;
}

.content .left #list .station-card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

.content .left #list .station-card .station-title {
    font-size: 18px;
}

.content .left #list .station-card .station-position {
    font-size: 14px;
}

.content .right {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    padding-right: 20px;
}

.content .right #mapid {
    height: calc(100vh - 120px);
}

*:focus {
    outline: none;
}